body{
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/doodles.png");
	width: 100%;
	height: 200px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #777777;
	font-size: 18px;
	margin-left: -1px;
	margin-right: 1px;
	margin-bottom: 78px;
}
nav{
	color:#777777;
	float:right;

}
h1{
	font-family: Courier, "Helvetica Neue", Helvetica, sans-serif;
	color:#4aaaa5;
	border-bottom: 2px solid #777777;


}
h2{
	font-family: Courier, "Helvetica Neue", Helvetica, sans-serif;
	color:#4aaaa5;
	border-bottom: 2px solid #777777;
	text-align: center;
}
aside{
	float: right;
	width:280px;
	height: 220px;
	margin-top: 20px;
	margin-right: 400px;
	padding:20px 15px 20px 15px;
	background-color: #ffffff;
	border: 2px solid #dddddd;
}
a{
	color: #777777
}
img{
	margin: 1px;
}
form{
	margin: 1px;
	width: 650px;
	border-color: #777777;
}	
.photos{
	width: 300px;
	height: 225px;
	margin: 10px;
	padding: 10px 0px 0px 0px;
	
}
.menu{
	float:left;
	font-size: 15px;
	border-right: .5px solid #777777;
	color: #777777;
	margin-top: 10px;
	padding: 8px;

	
}

.logo{
	position: relative;
	color: #ffffff;
	text-align: center;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #4aaaa5;
    padding: 14px;
	font-family: Courier, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 29px;
	font-weight: bold;
    padding-right: 60px;
    padding-left: 60px;
    float: left;
}

.mainheader{
	background-color: #ffffff;
	width: 100%;
	height: 60px;
	border: 2px solid #cccccc;


}
.mainphoto{
	float: left;
  	margin: 0px 30px 10px 0px;
}
.maincontent{
	width: 650px;
	padding: 20px;
	background-color: #ffffff;
	margin: 20px 10px 70px 30px;
	display: block;
	border: 2px solid #dddddd;

}
.social{
	height: 90px;
	width: 90px;
}
.footer{
	background-color: #666666;
    border-top: 4px solid #4aaaa5;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 30px 0px 30px 0px;
    position: fixed;
    bottom:0;

}
@media screen and (max-width: 968px) {

	}
